{% extends 'base.html' %}

    {% block content %}
    
    <div class="ca-cont">
    <h1> Latest Corporate Actions </h1 >
        <div class="table-card">
            <table id="latest-corporate-actions" class= "table"  style ="height:700px">
                {% for d in data %}
                <tr>
                    <td> {{ d.company_name }} </td>
                    <td> {{ d.ca_type }} </td>
                    <td> {{ d.div_percent}}</td>
                    <td> {{ d.div_type }}</td>
                    <td> {{ d.ex_date }}</td>    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock %}

    
    
    {% block scripts %}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            
                $('#latest-corporate-actions').DataTable({
                    columns: [
                        { title: "Company Name" },
                        { title: "CA Type" },
                        { title: "Dividend_%" },
                        { title: "Dividend Type" },
                        { title: "ex_date"},
  
                    ]
                });
            });
    </script>
    {% endblock %}
    
    